.admin-body-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.admin-body-container h3, .admin-notifications h3, .notifications h3, .history h3{
    text-decoration: underline;
    font-size: 25px;
    margin-left: 10px;
}

.admin-page-marked{
    width: 50%;
    background-color: white;
    margin: 5px;
}

.admin-notifications{
    width: 50%;
    background-color: white;
    margin: 5px;
}

.marked-student-element, .admin-notifications-element, .user-notification-element, .user-trans-history-element{
    padding: 5px;
    margin: 5px;
    border: 5px solid white;
    border-radius: 25px;
    background-color: rgb(189, 186, 177);
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}

.buttons button{
    font-size: 28px;
    padding: 8px;
    border-radius: 8px;
}


.profile *{
    margin: 5px auto;
}

.user-name{
    font-size: 30px;
}

.profile button{
    border-radius: 8px;
    padding: 8px;
    font-size: 28px;
    margin-left: 10px;
}

.profile{
    background-color: #0d83dd;
}

.profile-image{
    border-radius: 50%;
    max-width: 15%;
    margin-left: 20px;
    margin-top: 20px;
}

.notification-history{
    display: flex;
    justify-content: space-evenly;
}

.notifications{
    border: 5px solid white;
    width: 28%;
    background-color: white;
    float: left;
}

.history{
    border: 5px solid white;
    width: 66%;
    height: 500px;
    background-color: white;
    float: left;
}


/*
.profile-name{
    margin-left: 15px;
}
*/