<!doctype html>

<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="login-form-header">DU Transect | Log In</div>
    <form class="loginform" action="/login" method="POST">
        {{ form.hidden_tag() }}
        {{ form.username(class="loginform-username") }} <br>
        {{ form.password(class="loginform-password") }} <br>
        <input class="submit-button" type="submit" value="Log In">
        
    </form>
</body>