<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/for_user.css">
</head>

<h1 style="margin:30px; font-size: 50px;">Welcome Admin</h1>

<div class="buttons">
    <Button type="button">Home</Button>
    <Button type="button">New Account</Button>
    <Button type="button">Manage Account</Button>
    <Button type="button">Notify User</Button>
    <Button type="button">Send Mail</Button>
    <Button type="button">DB Utils</Button>
    <Button type="button">Bank Utils</Button>
    <Button type="button">Log Out</Button>

</div>

<div class="admin-body-container">
    <div class="admin-page-marked">
        <h3>Marked Students</h3>
        <div class="marked-student-element">
            <h4>Name: Ahmed Tanvir Siddique</h4>
            <p>Reg-no: 2015-816-782</p>
        </div>
        <div class="marked-student-element">
            <h4>Name: MD. Abid Raihan</h4>
            <p>Reg-no: 2014-832-672</p>
        </div>
    </div>
    <div class="admin-notifications">
        <h3>Notifications</h3>
        <div class="admin-notifications-element">
            <h4>From: Department of CSE, DU</h4>
            <p>Content: You need to update the 3rd year student database</p>
        </div>
    </div>
</div>