<!DOCTYPE html>

<head>
    <title>Image</title>
    <link rel="stylesheet" type="text/css" href="../static/for_user.css">
</head>

<div class="profile">
    <img class="profile-image" src="../static/twitter_profile_pic.png" />
    <button type="button">New</button>
    <button type="button">History</button>
    <button type="button">Notifications</button>
    <button type="button">Edit Profile</button>
    <button type="button">Logout</button>
</div>

<div class="body-container">
    <div class="user-name">Ahmed Tanvir Siddique</div>
    <div class="notification-history">
        <div class="notifications">
            This is Notification
            <div class="notification-element">
                <h4>By: CSEDU</h4>
                <p>Due payments</p>
            </div>
            <div class="notification-element">
                <h4>By: CSEDU</h4>
                <p>Due payments</p>
            </div>
            <div class="notification-element">
                <h4>By: CSEDU</h4>
                <p>Due payments</p>
            </div>
            <div class="notification-element">
                <h4>By: CSEDU</h4>
                <p>Due payments</p>
            </div>
            <div class="notification-element">
                <h4>By: CSEDU</h4>
                <p>Due payments</p>
            </div>
        </div>
        <div class="history">
            This is history
        </div>
    </div>
</div>